<html>
  <body>
    <h1>Messaging board</h1>
    <a href="/new">
      <button>ADD NEW MESSAGE</button>
    </a>
    <ul>
      <% for (let i = messages.length - 1; i >= 0; i--) {const message =
      messages[i]; %>
      <li>
        <h5><%= message.username %></h5>
        <p><%= message.message %></p>
        <time datetime="<%= message.timestamp %>"
          ><%= message.timestamp %>"></time
        >
      </li>
      <% } %>
    </ul>
  </body>
</html>
