<html>
  <body>
    <h1>Messaging board</h1>
    <a href="/new">
      <button>ADD NEW MESSAGE</button>
    </a>
    <ul>
      <% for (let i = messages.length - 1; i >= 0; i--) {const message =
      messages[i]; %>
      <li>
        <h5><%- message.user %></h5>
        <p><%= message.text %></p>
        <time datetime="<%= message.added %>"><%= message.added %>"></time>
      </li>
      <% } %>
    </ul>
  </body>
</html>
