<html>
  <body>
    <h1>Messaging board</h1>
    <h2>Create new message</h2>
    <form method="POST" action="/new">
      <label for="username">Username: </label>
      <input
        type="text"
        name="username"
        required
        minlength="1"
        maxlength="10"
      />
      <label for="message">Message: </label>
      <textarea
        name="message"
        required
        maxlength="1000"
        rows="5"
        cols="50"
      ></textarea>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
